In [57]:
import pandas as pd
from prophet import Prophet

In [58]:

train_url = "https://github.com/dustywhite7/econ8310-assignment1/raw/main/assignment_data_train.csv"
training_data = pd.read_csv(train_url)


# Convert Timestamp column to datetime objects
training_data["Timestamp"] = pd.to_datetime(training_data["Timestamp"])

training_data.rename(columns={"Timestamp": "ds", "trips": "y"}, inplace=True)
training_data.sort_values(by="ds", inplace=True)

training_data.head()

                   ds  year  month  day  hour      y
0 2018-01-01 00:00:00  2018      1    1     0  16714
1 2018-01-01 01:00:00  2018      1    1     1  19041
2 2018-01-01 02:00:00  2018      1    1     2  16590
3 2018-01-01 03:00:00  2018      1    1     3  12626
4 2018-01-01 04:00:00  2018      1    1     4   8739

In [59]:
model = Prophet(daily_seasonality=True, weekly_seasonality=True)

# add hourly seasonality(period=24) 
model.add_seasonality(name='hourly', period=24, fourier_order=5)

modelFit = model.fit(training_data)

17:34:10 - cmdstanpy - INFO - Chain [1] start processing
17:34:12 - cmdstanpy - INFO - Chain [1] done processing

In [60]:
# test data
test_url = "https://raw.githubusercontent.com/dustywhite7/econ8310-assignment1/main/assignment_data_test.csv"

test_df = pd.read_csv(test_url)

test_df["Timestamp"] = pd.to_datetime(test_df["Timestamp"])


test_df.rename(columns={"Timestamp": "ds"}, inplace=True)
test_df.sort_values(by="ds", inplace=True)


test_df.head()

                   ds  year  month  day  hour
0 2019-01-01 00:00:00  2019      1    1     0
1 2019-01-01 01:00:00  2019      1    1     1
2 2019-01-01 02:00:00  2019      1    1     2
3 2019-01-01 03:00:00  2019      1    1     3
4 2019-01-01 04:00:00  2019      1    1     4

In [61]:
# Forecasts on the Test Data
forecast = model.predict(test_df)

pred = forecast['yhat'].values

print("Forecasts for the test period (744 hours):")
print(pred[:10])

Forecasts for the test period (744 hours):
[ 7591.46154452  5121.97076139  2652.12421583   868.0535371
   637.84168874  2349.02607076  5468.08103977  8775.2012516
 11140.90304065 12216.61212987]